@import "tailwindcss";

@theme {
  --color-primary: #00ff9d;
  --color-secondary: #00b8ff;
  --color-text: #999999;
  --color-background2: #0a0f24;
  --color-background: #1e2a38;
  --color-acent: #ff007c;
  --color-menu: #050814;
}
