@import "tailwindcss";

:root {
  --home-background: url(./assets/homeBackground.jpg);
}

body {
  font-family: monospace;
}

@keyframes typing {
  0% {
    display: inline;
  }
  50% {
    display: none;
  }
}

@theme {
  --color-primary: #00ff9d;
  --color-secondary: #00b8ff;
  --color-text: #999999;
  --color-background2: #0a0f24;
  --color-background: #1e2a38;
  --color-acent: #ff007c;
  --color-menu: #050814;

  --animate-typing: typing 1s infinite;
}
